*{max-width: 960px;
align-self: center;}

body{
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  code{
    padding: 10px;
    background-color: #333;
  }
  #q1{
    height: 30px;
    width: auto;
    align-self: center;
  }
  
  #quiz-form {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #quiz-form h1 {
    text-align: center;
    color: #333;
  }
  
  .question {
    margin-bottom: 20px;
  }
  
  .question label {
    display: block;
    margin-bottom: 5px;
  }
  
  .question input[type='text'],
  .question select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  #quiz-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  #quiz-form button:hover {
    background-color: #4cae4c;
  }
  